@import './base.css';

body{
    font-weight: var(--font-weight-body) !important;
    color: var(--text) !important;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-family) !important;

}
.h4, .h5, .h6{
    font-weight: var(--font-weight-heading) !important;
    line-height: var(--line-height-header) !important;
    font-size: var(--header-sm) !important;
    letter-spacing: var(--letter-spacing-header);
}
h4, h5, h6{
    font-weight: var(--font-weight-heading) !important;
    line-height: var(--line-height-header) !important;
    font-size: var(--header-r) !important;
    letter-spacing: var(--letter-spacing-header);
}

h1, h2, h3{
    font-weight: var(--font-weight-heading) !important;
    line-height: var(--line-height-display) !important;
    letter-spacing: var(--letter-spacing-display);
    font-size: var(--display-xl) !important;
}
.label
{
    font-size: var(--label-r) !important;
    letter-spacing: var(--letter-spacing-label);
    line-height: var(--line-height-label) !important;
    hyphens: auto;
}
.text{
    font-size: var(--font-size-base) !important;
    line-height: var(--line-height-body) !important;
    letter-spacing: var(--letter-spacing-body);
    hyphens: auto;
}
.btn{
    padding: 3px 10px 1px 9px !important;
    box-shadow: 0 10px 20px -5px var(--primary);
}
.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: var(--primary)!important;
    --bs-btn-border-color: var(--primary)!important;
    --bs-btn-hover-color: #fff!important;
    --bs-btn-hover-bg: var(--primary)!important;
    --bs-btn-hover-border-color: var(--primary)!important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary)!important;
    --bs-btn-active-border-color: var(--primary)!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
}

.small-mb
{
    margin-bottom: var(--spacing-sm);
}
.medium-mb
{
    margin-bottom: var(--spacing-m);
}
.large-mb
{
    margin-bottom: var(--spacing-xl);
}